In [2]:
import sys
import os
# from os.path import isfile, join
main_dir = os.path.abspath(os.pardir)
import pandas as pd
sys.path.insert(0, main_dir)

In [6]:
raw_imgs_pth = os.path.join(main_dir, "data", "raw")+os.sep
vld_path = os.path.join(raw_imgs_pth, "vld")+os.sep
train_path = os.path.join(raw_imgs_pth, "train")+os.sep

images_lst = [f for f in os.listdir(vld_path) if os.path.isfile(os.path.join(vld_path, f))]
images_lst = [f for f in images_lst if f.endswith(".jpg")]
    
vld_fnames = pd.read_csv(raw_imgs_pth+"solution_stg1_release.csv")
vld_fnames.head()

  image_name class  img_id           new_name
0      0.jpg    t2       0  vld_0_nadd_t2.jpg
1      1.jpg    t2       1  vld_1_nadd_t2.jpg
2      2.jpg    t1       2  vld_2_nadd_t1.jpg
3      3.jpg    t3       3  vld_3_nadd_t3.jpg
4      4.jpg    t3       4  vld_4_nadd_t3.jpg

In [12]:
for i, f in enumerate(images_lst):
#     print(vld_path+f, vld_path+vld_fnames.loc[i, "new_name"])
    os.rename(vld_path+f, train_path+vld_fnames.loc[i, "new_name"])